venv/
*__pycache__/
# GEE Service Account
landuse-pipeline/landuse-service-account.json
*.iam.gserviceaccount.com.json
secrets/
.env
prototype/
GraphBuilder/venv
.vscode/
*.pdf
cache/
*.zip
PAPER.md
data/raw/extras
GraphBuilder/venvg
GraphBuilder/downloader/preferences.json
GraphBuilder/downloader/sat_images
GraphBuilder/custom_outputs
GraphBuilder/downloader/metadata.json

