venv/
*__pycache__/
*.csv
runs/
# GEE Service Account
landuse-pipeline/landuse-service-account.json
*.iam.gserviceaccount.com.json
secrets/
.env
prototype/
.vscode/
*.pdf
cache/
*.zip
PAPER.md
data/raw/extras